<section class="hero-section" style="background-image: url('image.jpg');">
  <div class="hero-container">
    <div class="hero-content">
      <h1>I am Reine Habchi</h1>
      <p>I am a Front-End developer based in Jounieh | Lebanon.</p>
      <p>I focus on developing user-friendly web applications that meet the client's requirements, with attention to detail, scalability, and performance.</p>
      <a class="btn btn-primary" routerLink="/about">About Me</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/Hero.jpg" alt="Hero Image" class="circular-image">
    </div>
  </div>
</section>
